<div class="list-group">
    <a class="list-item main-list" href="/comments/{{id}}">
        <span>{{title}}</span>
        <span class="float-right">Posted by: {{user.name}} on {{format_date date_created}}</span>
    </a>
</div>
{{!-- if comment added it should show up! --}}

<div class="container">
    <p class="card comment-card" {{!-- style="display: none;" --}} id="comment-card-style"></p>
    {{user.commentary}}
    </p>
</div>