<a class="list-group btn list-item main-list single-post" data-toggle="collapse" href="#collapseExample" role="button"
    aria-expanded="false" aria-controls="collapseExample">
    <span class="float-left">{{title}}</span>
</a>
<div class="collapse mb-3" id="collapseExample">
    <div class="card dashboard-card">
        <div class="list-item">
            <div class="card-header">
                <span>{{title}}</span>
                <span class="float-right">Posted by: {{user.name}} on {{format_date date_created}}</span>
            </div>
            <div class="card-body content-card">
                {{content}}
            </div>
        </div>
    </div>
    <div class="card dashboard-card">
        <div class="card-header">
            <h4>Add Comment</h4>
        </div>
        <form method="POST" action="/api/comments" class="card-body">
            <div class="card-body content-card">
                <div class="form-group">
                    <label for="post_id">Post ID:</label>
                    <input type="text" name="post_id" value="{{id}}" id="post_id" readonly />
                </div>
                <div class="form-group">
                    <label for="user_name">User Name:</label>
                    <input type="text" name="user_name" value="{{logged_name}}" id="user_name" readonly />
                </div>
                <div class="form-group">
                    <label for="commentary">Comment</label>
                    <textarea type="text" name="commentary" id="commentary" class="col-sm-12 form-input"></textarea>
                </div>
                <button type="submit" class="btn btn-dark col-sm-12">Comment</button>
            </div>
        </form>
    </div>
</div>
{{#each comments as |comment|}}
<div class="card dashboard-card">
    <div class="card-header">
        <h4>Comment</h4>
    </div>
    <div class="card-body content-card">
        <h4>{{commentary}}</h4>
        <footer class="blockquote-footer">Commented by: {{user_name}} on {{format_date date_created}}</footer>
    </div>
</div>
{{/each}}